.App {
  background-color: #e1e4e7;
  background-image: linear-gradient(315deg, #eef0f1 0%, #a9adb1 74%);
}

.Title {
  font-size: xxx-large;
  margin-left: 5px;
}

.Tag {
  font-size: large;
  margin-left: 5px;
}